<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <script>
        MODAL.closeAll();
        MENUMODAL = true;
        <%= scope %>.formulary({
            where: [{
                field: "id",
                value: new SESSION().current().getID()
            }]
        }, FORM.modes.edit, {}, 'perfil')
    </script>
</div><!--end-->
