</div>


</div>
<!-- /main content -->
</div>
<!-- /page content -->

</div>
<!-- /page container -->

</div>
<script>
    $(document).ready(function () {
        $(document).on('click', '.dragon-menu a:not(.has-ul)', function () {
            $("body").removeClass("sidebar-mobile-main");
        });
        // $(document).on('click', 'body', function (e) {
        //     if ($(e.target).prop("tagName") !== "I") {
        //         $('.popover').popover('hide');
        //     }
        // });


    });
</script>
</body>
