.bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: #fff;
    background-color: #2196F3
}

.bootstrap-switch-handle-on.bootstrap-switch-danger, .bootstrap-switch-handle-off.bootstrap-switch-danger {
    color: #fff;
    background-color: rgba(244, 67, 54, 0.61);
}

.bootstrap-switch-handle-on.bootstrap-switch-success, .bootstrap-switch-handle-off.bootstrap-switch-success {
    color: #fff;
    background-color: rgba(76, 175, 80, 0.6)
}

.bootstrap-switch-handle-on.bootstrap-switch-warning, .bootstrap-switch-handle-off.bootstrap-switch-warning {
    color: #fff;
    background-color: rgba(255, 87, 34, 0.6)
}

.bootstrap-switch-handle-on.bootstrap-switch-info, .bootstrap-switch-handle-off.bootstrap-switch-info {
    color: #fff;
    background-color: #00BCD4
}


.noui-slider-primary .noUi-connect, .noui-slider-primary.noUi-connect {
    background-color: #2196F3
}

.noui-slider-primary .noUi-handle {
    background-color: #2196F3
}

.noui-slider-primary .noUi-handle:focus, .noui-slider-primary .noUi-handle:active {
    -webkit-box-shadow: 0 0 0 10px rgba(33, 150, 243, .1);
    box-shadow: 0 0 0 10px rgba(33, 150, 243, .1)
}

.noui-slider-danger .noUi-connect, .noui-slider-danger.noUi-connect {
    background-color: rgba(244, 67, 54, 0.61)
}

.noui-slider-danger .noUi-handle {
    background-color: rgba(244, 67, 54, 0.61)
}

.noui-slider-danger .noUi-handle:focus, .noui-slider-danger .noUi-handle:active {
    -webkit-box-shadow: 0 0 0 10px rgba(244, 67, 54, .1);
    box-shadow: 0 0 0 10px rgba(244, 67, 54, .1)
}

.noui-slider-success .noUi-connect, .noui-slider-success.noUi-connect {
    background-color: rgba(76, 175, 80, 0.6)
}

.noui-slider-success .noUi-handle {
    background-color: rgba(76, 175, 80, 0.6)
}

.noui-slider-success .noUi-handle:focus, .noui-slider-success .noUi-handle:active {
    -webkit-box-shadow: 0 0 0 10px rgba(76, 175, 80, .1);
    box-shadow: 0 0 0 10px rgba(76, 175, 80, .1)
}

.noui-slider-warning .noUi-connect, .noui-slider-warning.noUi-connect {
    background-color: rgba(76, 175, 80, 0.6)
}

.noui-slider-warning .noUi-handle {
    background-color: rgba(76, 175, 80, 0.6)
}

.noui-slider-warning .noUi-handle:focus, .noui-slider-warning .noUi-handle:active {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 87, 34, .1);
    box-shadow: 0 0 0 10px rgba(255, 87, 34, .1)
}

.noui-slider-info .noUi-connect, .noui-slider-info.noUi-connect {
    background-color: #00BCD4
}

.noui-slider-info .noUi-handle {
    background-color: #00BCD4
}

.ui-slider-primary .ui-slider-range, .ui-slider-primary .ui-slider-handle {
    background-color: #2196F3
}

.ui-slider-primary .ui-slider-handle.ui-state-focus, .ui-slider-primary .ui-slider-handle.ui-state-active {
    -webkit-box-shadow: 0 0 0 10px rgba(33, 150, 243, .1);
    box-shadow: 0 0 0 10px rgba(33, 150, 243, .1)
}

.ui-slider-danger .ui-slider-range, .ui-slider-danger .ui-slider-handle {
    background-color: rgba(244, 67, 54, 0.61)
}

.ui-slider-danger .ui-slider-handle.ui-state-focus, .ui-slider-danger .ui-slider-handle.ui-state-active {
    -webkit-box-shadow: 0 0 0 10px rgba(244, 67, 54, .1);
    box-shadow: 0 0 0 10px rgba(244, 67, 54, .1)
}

.ui-slider-success .ui-slider-range, .ui-slider-success .ui-slider-handle {
    background-color: rgba(76, 175, 80, 0.6)
}

.ui-slider-success .ui-slider-handle.ui-state-focus, .ui-slider-success .ui-slider-handle.ui-state-active {
    -webkit-box-shadow: 0 0 0 10px rgba(76, 175, 80, .1);
    box-shadow: 0 0 0 10px rgba(76, 175, 80, .1)
}

.ui-slider-warning .ui-slider-range, .ui-slider-warning .ui-slider-handle {
    background-color: rgba(76, 175, 80, 0.6)
}

.ui-slider-warning .ui-slider-handle.ui-state-focus, .ui-slider-warning .ui-slider-handle.ui-state-active {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 87, 34, .1);
    box-shadow: 0 0 0 10px rgba(255, 87, 34, .1)
}

.ui-slider-info .ui-slider-range, .ui-slider-info .ui-slider-handle {
    background-color: #00BCD4
}


.dataTable th.focus, .dataTable td.focus {
    outline: 2px solid #2196F3;
    outline-offset: -1px
}

.dataTable th.focus-success, .dataTable td.focus-success {
    background-color: #E8F5E9;
    outline-color: rgba(76, 175, 80, 0.6)
}

.dataTable th.focus-info, .dataTable td.focus-info {
    background-color: #E3F2FD;
    outline-color: #2196F3
}

.dataTable th.focus-warning, .dataTable td.focus-warning {
    background-color: #FBE9E7;
    outline-color: rgba(76, 175, 80, 0.6)
}

.dataTable th.focus-danger, .dataTable td.focus-danger {
    background-color: #FFEBEE;
    outline-color: rgba(244, 67, 54, 0.61)
}

.bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch-handle-off.bootstrap-switch-default {
    color: #333;
    background-color: #eee
}

.bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: #fff;
    background-color: #2196F3
}

.bootstrap-switch-handle-on.bootstrap-switch-danger, .bootstrap-switch-handle-off.bootstrap-switch-danger {
    color: #fff;
    background-color: rgba(244, 67, 54, 0.61)
}

.bootstrap-switch-handle-on.bootstrap-switch-success, .bootstrap-switch-handle-off.bootstrap-switch-success {
    color: #fff;
    background-color: rgba(76, 175, 80, 0.6)
}

.bootstrap-switch-handle-on.bootstrap-switch-warning, .bootstrap-switch-handle-off.bootstrap-switch-warning {
    color: #fff;
    background-color: rgba(76, 175, 80, 0.6)
}

.bootstrap-switch-handle-on.bootstrap-switch-info, .bootstrap-switch-handle-off.bootstrap-switch-info {
    color: #fff;
    background-color: #00BCD4
}

.noui-slider-primary .noUi-connect, .noui-slider-primary.noUi-connect {
    background-color: #2196F3
}

.noui-slider-primary .noUi-handle {
    background-color: #2196F3
}

.noui-slider-primary .noUi-handle:focus, .noui-slider-primary .noUi-handle:active {
    -webkit-box-shadow: 0 0 0 10px rgba(33, 150, 243, .1);
    box-shadow: 0 0 0 10px rgba(33, 150, 243, .1)
}

.noui-slider-danger .noUi-connect, .noui-slider-danger.noUi-connect {
    background-color: rgba(244, 67, 54, 0.61)
}

.noui-slider-danger .noUi-handle {
    background-color: rgba(244, 67, 54, 0.61)
}

.noui-slider-danger .noUi-handle:focus, .noui-slider-danger .noUi-handle:active {
    -webkit-box-shadow: 0 0 0 10px rgba(244, 67, 54, .1);
    box-shadow: 0 0 0 10px rgba(244, 67, 54, .1)
}

.noui-slider-success .noUi-connect, .noui-slider-success.noUi-connect {
    background-color: rgba(76, 175, 80, 0.6)
}

.noui-slider-success .noUi-handle {
    background-color: rgba(76, 175, 80, 0.6)
}

.noui-slider-success .noUi-handle:focus, .noui-slider-success .noUi-handle:active {
    -webkit-box-shadow: 0 0 0 10px rgba(76, 175, 80, .1);
    box-shadow: 0 0 0 10px rgba(76, 175, 80, .1)
}

.noui-slider-warning .noUi-connect, .noui-slider-warning.noUi-connect {
    background-color: rgba(76, 175, 80, 0.6)
}

.noui-slider-warning .noUi-handle {
    background-color: rgba(76, 175, 80, 0.6)
}

.noui-slider-warning .noUi-handle:focus, .noui-slider-warning .noUi-handle:active {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 87, 34, .1);
    box-shadow: 0 0 0 10px rgba(255, 87, 34, .1)
}

.noui-slider-info .noUi-connect, .noui-slider-info.noUi-connect {
    background-color: #00BCD4
}

.noui-slider-info .noUi-handle {
    background-color: #00BCD4
}

.noui-slider-info .noUi-handle:focus, .noui-slider-info .noUi-handle:active {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 188, 212, .1);
    box-shadow: 0 0 0 10px rgba(0, 188, 212, .1)
}

.ui-slider-primary .ui-slider-range, .ui-slider-primary .ui-slider-handle {
    background-color: #2196F3
}

.ui-slider-primary .ui-slider-handle.ui-state-focus, .ui-slider-primary .ui-slider-handle.ui-state-active {
    -webkit-box-shadow: 0 0 0 10px rgba(33, 150, 243, .1);
    box-shadow: 0 0 0 10px rgba(33, 150, 243, .1)
}

.ui-slider-danger .ui-slider-range, .ui-slider-danger .ui-slider-handle {
    background-color: rgba(244, 67, 54, 0.61)
}

.ui-slider-danger .ui-slider-handle.ui-state-focus, .ui-slider-danger .ui-slider-handle.ui-state-active {
    -webkit-box-shadow: 0 0 0 10px rgba(244, 67, 54, .1);
    box-shadow: 0 0 0 10px rgba(244, 67, 54, .1)
}

.ui-slider-success .ui-slider-range, .ui-slider-success .ui-slider-handle {
    background-color: rgba(76, 175, 80, 0.6)
}

.ui-slider-success .ui-slider-handle.ui-state-focus, .ui-slider-success .ui-slider-handle.ui-state-active {
    -webkit-box-shadow: 0 0 0 10px rgba(76, 175, 80, .1);
    box-shadow: 0 0 0 10px rgba(76, 175, 80, .1)
}

.ui-slider-warning .ui-slider-range, .ui-slider-warning .ui-slider-handle {
    background-color: rgba(76, 175, 80, 0.6)
}

.ui-slider-warning .ui-slider-handle.ui-state-focus, .ui-slider-warning .ui-slider-handle.ui-state-active {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 87, 34, .1);
    box-shadow: 0 0 0 10px rgba(255, 87, 34, .1)
}

.ui-slider-info .ui-slider-range, .ui-slider-info .ui-slider-handle {
    background-color: #00BCD4
}

.ui-slider-info .ui-slider-handle.ui-state-focus, .ui-slider-info .ui-slider-handle.ui-state-active {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 188, 212, .1);
    box-shadow: 0 0 0 10px rgba(0, 188, 212, .1)
}


.dataTable th.focus, .dataTable td.focus {
    outline: 2px solid #2196F3;
    outline-offset: -1px
}

.dataTable th.focus-success, .dataTable td.focus-success {
    background-color: #E8F5E9;
    outline-color: rgba(76, 175, 80, 0.6)
}

.dataTable th.focus-info, .dataTable td.focus-info {
    background-color: #E3F2FD;
    outline-color: #2196F3
}

.dataTable th.focus-warning, .dataTable td.focus-warning {
    background-color: #FBE9E7;
    outline-color: rgba(76, 175, 80, 0.6)
}

.dataTable th.focus-danger, .dataTable td.focus-danger {
    background-color: #FFEBEE;
    outline-color: rgba(244, 67, 54, 0.61)
}

.bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch-handle-off.bootstrap-switch-default {
    color: #333;
    background-color: #eee
}

.bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: #fff;
    background-color: #2196F3
}

.bootstrap-switch-handle-on.bootstrap-switch-danger, .bootstrap-switch-handle-off.bootstrap-switch-danger {
    color: #fff;
    background-color: rgba(244, 67, 54, 0.61)
}

.bootstrap-switch-handle-on.bootstrap-switch-success, .bootstrap-switch-handle-off.bootstrap-switch-success {
    color: #fff;
    background-color: rgba(76, 175, 80, 0.6)
}

.bootstrap-switch-handle-on.bootstrap-switch-warning, .bootstrap-switch-handle-off.bootstrap-switch-warning {
    color: #fff;
    background-color: rgba(76, 175, 80, 0.6)
}

.bootstrap-switch-handle-on.bootstrap-switch-info, .bootstrap-switch-handle-off.bootstrap-switch-info {
    color: #fff;
    background-color: #00BCD4
}


.noui-slider-primary .noUi-connect, .noui-slider-primary.noUi-connect {
    background-color: #2196F3
}

.noui-slider-primary .noUi-handle {
    background-color: #2196F3
}

.noui-slider-primary .noUi-handle:focus, .noui-slider-primary .noUi-handle:active {
    -webkit-box-shadow: 0 0 0 10px rgba(33, 150, 243, .1);
    box-shadow: 0 0 0 10px rgba(33, 150, 243, .1)
}

.noui-slider-danger .noUi-connect, .noui-slider-danger.noUi-connect {
    background-color: rgba(244, 67, 54, 0.61)
}

.noui-slider-danger .noUi-handle {
    background-color: rgba(244, 67, 54, 0.61)
}

.noui-slider-danger .noUi-handle:focus, .noui-slider-danger .noUi-handle:active {
    -webkit-box-shadow: 0 0 0 10px rgba(244, 67, 54, .1);
    box-shadow: 0 0 0 10px rgba(244, 67, 54, .1)
}

.noui-slider-success .noUi-connect, .noui-slider-success.noUi-connect {
    background-color: rgba(76, 175, 80, 0.6)
}

.noui-slider-success .noUi-handle {
    background-color: rgba(76, 175, 80, 0.6)
}

.noui-slider-success .noUi-handle:focus, .noui-slider-success .noUi-handle:active {
    -webkit-box-shadow: 0 0 0 10px rgba(76, 175, 80, .1);
    box-shadow: 0 0 0 10px rgba(76, 175, 80, .1)
}

.noui-slider-warning .noUi-connect, .noui-slider-warning.noUi-connect {
    background-color: rgba(76, 175, 80, 0.6)
}

.noui-slider-warning .noUi-handle {
    background-color: rgba(76, 175, 80, 0.6)
}

.noui-slider-warning .noUi-handle:focus, .noui-slider-warning .noUi-handle:active {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 87, 34, .1);
    box-shadow: 0 0 0 10px rgba(255, 87, 34, .1)
}

.noui-slider-info .noUi-connect, .noui-slider-info.noUi-connect {
    background-color: #00BCD4
}

.noui-slider-info .noUi-handle {
    background-color: #00BCD4
}

.noui-slider-info .noUi-handle:focus, .noui-slider-info .noUi-handle:active {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 188, 212, .1);
    box-shadow: 0 0 0 10px rgba(0, 188, 212, .1)
}


.ui-slider-primary .ui-slider-range, .ui-slider-primary .ui-slider-handle {
    background-color: #2196F3
}

.ui-slider-primary .ui-slider-handle.ui-state-focus, .ui-slider-primary .ui-slider-handle.ui-state-active {
    -webkit-box-shadow: 0 0 0 10px rgba(33, 150, 243, .1);
    box-shadow: 0 0 0 10px rgba(33, 150, 243, .1)
}

.ui-slider-danger .ui-slider-range, .ui-slider-danger .ui-slider-handle {
    background-color: rgba(244, 67, 54, 0.61)
}

.ui-slider-danger .ui-slider-handle.ui-state-focus, .ui-slider-danger .ui-slider-handle.ui-state-active {
    -webkit-box-shadow: 0 0 0 10px rgba(244, 67, 54, .1);
    box-shadow: 0 0 0 10px rgba(244, 67, 54, .1)
}

.ui-slider-success .ui-slider-range, .ui-slider-success .ui-slider-handle {
    background-color: rgba(76, 175, 80, 0.6)
}

.ui-slider-success .ui-slider-handle.ui-state-focus, .ui-slider-success .ui-slider-handle.ui-state-active {
    -webkit-box-shadow: 0 0 0 10px rgba(76, 175, 80, .1);
    box-shadow: 0 0 0 10px rgba(76, 175, 80, .1)
}

.ui-slider-warning .ui-slider-range, .ui-slider-warning .ui-slider-handle {
    background-color: rgba(76, 175, 80, 0.6)
}

.ui-slider-warning .ui-slider-handle.ui-state-focus, .ui-slider-warning .ui-slider-handle.ui-state-active {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 87, 34, .1);
    box-shadow: 0 0 0 10px rgba(255, 87, 34, .1)
}

.ui-slider-info .ui-slider-range, .ui-slider-info .ui-slider-handle {
    background-color: #00BCD4
}

.ui-slider-info .ui-slider-handle.ui-state-focus, .ui-slider-info .ui-slider-handle.ui-state-active {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 188, 212, .1);
    box-shadow: 0 0 0 10px rgba(0, 188, 212, .1)
}


.dataTable th.focus, .dataTable td.focus {
    outline: 2px solid #2196F3;
    outline-offset: -1px
}

.dataTable th.focus-success, .dataTable td.focus-success {
    background-color: #E8F5E9;
    outline-color: rgba(76, 175, 80, 0.6)
}

.dataTable th.focus-info, .dataTable td.focus-info {
    background-color: #E3F2FD;
    outline-color: #2196F3
}

.dataTable th.focus-warning, .dataTable td.focus-warning {
    background-color: #FBE9E7;
    outline-color: rgba(76, 175, 80, 0.6)
}

.dataTable th.focus-danger, .dataTable td.focus-danger {
    background-color: #FFEBEE;
    outline-color: rgba(244, 67, 54, 0.61)
}

.text-success {
    color: rgba(67, 160, 71, 0.61);
}

a.text-success:hover,
a.text-success:focus {
    color: #347c37;
}

.text-info {
    color: #00838F;
}

a.text-info:hover,
a.text-info:focus {
    color: #00545c;
}

.text-warning {
    color: rgba(239, 108, 0, 0.61);
}

a.text-warning:hover,
a.text-warning:focus {
    color: #bc5500;
}

.text-danger {
    color: rgba(216, 67, 21, 0.61);
}

a.text-danger:hover,
a.text-danger:focus {
    color: #aa3510;
}

.btn-default .badge {
    color: #f5f5f5;
    background-color: #333;
}

.btn-primary {
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #0c7cd5;
    border-color: #08528d;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0c7cd5;
    border-color: #0b76cc;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0c7cd5;
    border-color: #0b76cc;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #0a68b4;
    border-color: #08528d;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #2196F3;
    border-color: #2196F3;
}

.btn-primary .badge {
    color: #2196F3;
    background-color: #fff;
}

.btn-success {
    color: #fff;
    background-color: rgba(76, 175, 80, 0.6);
    border-color: rgba(76, 175, 80, 0.6);
}

.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: rgba(61, 139, 64, 0.61);
    border-color: #255627;
}

.btn-success:hover {
    color: #fff;
    background-color: rgba(61, 139, 64, 0.61);
    border-color: rgba(57, 132, 60, 0.6);
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: rgba(61, 139, 64, 0.61);
    border-color: rgba(57, 132, 60, 0.6);
}

.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: rgba(50, 115, 52, 0.6);
    border-color: rgba(37, 86, 39, 0.6);
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-image: none;
}

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
    background-color: rgba(76, 175, 80, 0.6);
    border-color: rgba(76, 175, 80, 0.6);
}

.btn-success .badge {
    color: rgba(76, 175, 80, 0.6);
    background-color: #fff;
}

.btn-info {
    color: #fff;
    background-color: #00BCD4;
    border-color: #00BCD4;
}

.btn-info:focus,
.btn-info.focus {
    color: #fff;
    background-color: #008fa1;
    border-color: #004b55;
}

.btn-info:hover {
    color: #fff;
    background-color: #008fa1;
    border-color: #008697;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #008fa1;
    border-color: #008697;
}

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
    color: #fff;
    background-color: #006f7d;
    border-color: #004b55;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    background-image: none;
}

.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
    background-color: #00BCD4;
    border-color: #00BCD4;
}

.btn-info .badge {
    color: #00BCD4;
    background-color: #fff;
}

.btn-warning {
    color: #fff;
    background-color: rgba(255, 87, 34, 0.6);
    border-color: rgba(255, 87, 34, 0.6);
}

.btn-warning:focus,
.btn-warning.focus {
    color: #fff;
    background-color: #ee3900;
    border-color: rgba(162, 39, 0, 0.6);
}

.btn-warning:hover {
    color: #fff;
    background-color: #ee3900;
    border-color: #e43700;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ee3900;
    border-color: #e43700;
}

.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
    color: #fff;
    background-color: rgba(202, 49, 0, 0.6);
    border-color: rgba(162, 39, 0, 0.6);
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-image: none;
}

.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
    background-color: rgba(255, 87, 34, 0.6);
    border-color: rgba(255, 87, 34, 0.6);
}

.btn-warning .badge {
    color: rgba(255, 87, 34, 0.6);
    background-color: #fff;
}

.btn-danger {
    color: #fff;
    background-color: rgba(244, 67, 54, 0.61);
    border-color: rgba(244, 67, 54, 0.61);
}

.btn-danger:focus,
.btn-danger.focus {
    color: #fff;
    background-color: rgba(234, 28, 13, 0.6);
    border-color: #a21309;
}

.btn-danger:hover {
    color: #fff;
    background-color: rgba(234, 28, 13, 0.6);
    border-color: rgba(225, 27, 12, 0.6);
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: rgba(234, 28, 13, 0.6);
    border-color: rgba(225, 27, 12, 0.6);
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: rgba(200, 24, 11, 0.6);
    border-color: rgba(162, 19, 9, 0.61);
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-image: none;
}

.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
    background-color: rgba(244, 67, 54, 0.61);
    border-color: rgba(244, 67, 54, 0.61);
}

.btn-danger .badge {
    color: rgba(244, 67, 54, 0.61);
    background-color: #fff;
}


.label-primary {
    background-color: #2196F3;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #0c7cd5;
}

.label-success {
    background-color: rgba(76, 175, 80, 0.6);
}

.label-success[href]:hover,
.label-success[href]:focus {
    background-color: rgba(61, 139, 64, 0.61);
}

.label-info {
    background-color: #00BCD4;
}

.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #008fa1;
}

.label-warning {
    background-color: rgba(255, 87, 34, 0.6);
}

.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #ee3900;
}

.label-danger {
    background-color: rgba(244, 67, 54, 0.61);
}

.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: rgba(234, 28, 13, 0.6);
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert .alert-link {
    font-weight: 500;
}

.alert > p,
.alert > ul {
    margin-bottom: 0;
}

.alert > p + p {
    margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-success {
    background-color: #E8F5E9;
    border-color: rgba(76, 175, 80, 0.6);
    color: rgba(67, 160, 71, 0.61);
}

.alert-success hr {
    border-top-color: rgba(68, 157, 72, 0.61);
}

.alert-success .alert-link {
    color: #347c37;
}

.alert-info {
    background-color: #E0F7FA;
    border-color: rgba(0, 188, 212, 0.61);
    color: #00838F;
}

.alert-info hr {
    border-top-color: #00a5bb;
}

.alert-info .alert-link {
    color: #00545c;
}

.alert-warning {
    background-color: #FFF3E0;
    border-color: rgba(255, 152, 0, 0.61);
    color: rgba(239, 108, 0, 0.61);
}

.alert-warning hr {
    border-top-color: #e68900;
}

.alert-warning .alert-link {
    color: #bc5500;
}

.alert-danger {
    background-color: #FBE9E7;
    border-color: rgba(255, 87, 34, 0.6);
    color: rgba(216, 67, 21, 0.61);
}

.alert-danger hr {
    border-top-color: rgba(255, 68, 8, 0.61);
}

.alert-danger .alert-link {
    color: #aa3510;
}

.progress-bar-success {
    background-color: rgba(76, 175, 80, 0.6);
}

.progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-info {
    background-color: #00BCD4;
}

.progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-warning {
    background-color: rgba(255, 87, 34, 0.6);
}

.progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-danger {
    background-color: rgba(244, 67, 54, 0.61);
}

.progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}


button.list-group-item {
    width: 100%;
    text-align: left;
}

.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
    background-color: transparent;
    color: #999999;
    cursor: not-allowed;
}

.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading {
    color: inherit;
}

.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
    color: #999999;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #26A69A;
    border-color: #26A69A;
}

.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active:hover .list-group-item-heading > small,
.list-group-item.active:focus .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small,
.list-group-item.active:hover .list-group-item-heading > .small,
.list-group-item.active:focus .list-group-item-heading > .small {
    color: inherit;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
    color: #acece6;
}

.list-group-item-success {
    color: rgba(67, 160, 71, 0.61);
    background-color: #E8F5E9;
}

a.list-group-item-success,
button.list-group-item-success {
    color: rgba(67, 160, 71, 0.61);
}

a.list-group-item-success .list-group-item-heading,
button.list-group-item-success .list-group-item-heading {
    color: inherit;
}

a.list-group-item-success:hover,
button.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:focus {
    color: rgba(67, 160, 71, 0.61);
    background-color: #d6edd8;
}

a.list-group-item-success.active,
button.list-group-item-success.active,
a.list-group-item-success.active:hover,
button.list-group-item-success.active:hover,
a.list-group-item-success.active:focus,
button.list-group-item-success.active:focus {
    color: #fff;
    background-color: rgba(67, 160, 71, 0.61);
    border-color: rgba(67, 160, 71, 0.61);
}

.list-group-item-info {
    color: #00838F;
    background-color: #E0F7FA;
}

a.list-group-item-info,
button.list-group-item-info {
    color: #00838F;
}

a.list-group-item-info .list-group-item-heading,
button.list-group-item-info .list-group-item-heading {
    color: inherit;
}

a.list-group-item-info:hover,
button.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:focus {
    color: #00838F;
    background-color: #caf1f6;
}

a.list-group-item-info.active,
button.list-group-item-info.active,
a.list-group-item-info.active:hover,
button.list-group-item-info.active:hover,
a.list-group-item-info.active:focus,
button.list-group-item-info.active:focus {
    color: #fff;
    background-color: #00838F;
    border-color: #00838F;
}

.list-group-item-warning {
    color: rgba(239, 108, 0, 0.61);
    background-color: #FFF3E0;
}

a.list-group-item-warning,
button.list-group-item-warning {
    color: rgba(239, 108, 0, 0.61);
}

a.list-group-item-warning .list-group-item-heading,
button.list-group-item-warning .list-group-item-heading {
    color: inherit;
}

a.list-group-item-warning:hover,
button.list-group-item-warning:hover,
a.list-group-item-warning:focus,
button.list-group-item-warning:focus {
    color: rgba(239, 108, 0, 0.61);
    background-color: #ffe9c6;
}

a.list-group-item-warning.active,
button.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
button.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus,
button.list-group-item-warning.active:focus {
    color: #fff;
    background-color: rgba(239, 108, 0, 0.61);
    border-color: rgba(239, 108, 0, 0.61);
}

.list-group-item-danger {
    color: rgba(216, 67, 21, 0.61);
    background-color: #FBE9E7;
}

a.list-group-item-danger,
button.list-group-item-danger {
    color: rgba(216, 67, 21, 0.61);
}

a.list-group-item-danger .list-group-item-heading,
button.list-group-item-danger .list-group-item-heading {
    color: inherit;
}

a.list-group-item-danger:hover,
button.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:focus {
    color: rgba(216, 67, 21, 0.61);
    background-color: #f7d5d1;
}

a.list-group-item-danger.active,
button.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
button.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus,
button.list-group-item-danger.active:focus {
    color: #fff;
    background-color: rgba(216, 67, 21, 0.61);
    border-color: rgba(216, 67, 21, 0.61);
}

.panel-group .panel-footer {
    border-top: 0;
}

.panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #ddd;
}

.panel-default {
    border-color: #ddd;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #fcfcfc;
    border-color: #ddd;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}

.panel-default > .panel-heading .badge {
    color: #fcfcfc;
    background-color: #333333;
}

.panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
}

.panel-primary {
    border-color: #2196F3;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #2196F3;
}

.panel-primary > .panel-heading .badge {
    color: #2196F3;
    background-color: #fff;
}

.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #2196F3;
}

.panel-success {
    border-color: rgba(76, 175, 80, 0.6);
}

.panel-success > .panel-heading {
    color: #fff;
    background-color: rgba(76, 175, 80, 0.6);
    border-color: rgba(76, 175, 80, 0.6);
}

.panel-success > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: rgba(76, 175, 80, 0.6);
}

.panel-success > .panel-heading .badge {
    color: rgba(76, 175, 80, 0.6);
    background-color: #fff;
}

.panel-success > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: rgba(76, 175, 80, 0.6);
}

.panel-info {
    border-color: #00BCD4;
}

.panel-info > .panel-heading {
    color: #fff;
    background-color: #00BCD4;
    border-color: #00BCD4;
}

.panel-info > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #00BCD4;
}

.panel-info > .panel-heading .badge {
    color: #00BCD4;
    background-color: #fff;
}

.panel-info > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #00BCD4;
}

.panel-warning {
    border-color: rgba(255, 87, 34, 0.6);
}

.panel-warning > .panel-heading {
    color: #fff;
    background-color: rgba(255, 87, 34, 0.6);
    border-color: rgba(255, 87, 34, 0.6);
}

.panel-warning > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: rgba(255, 87, 34, 0.6);
}

.panel-warning > .panel-heading .badge {
    color: rgba(255, 87, 34, 0.6);
    background-color: #fff;
}

.panel-warning > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: rgba(255, 87, 34, 0.6);
}

.panel-danger {
    border-color: rgba(244, 67, 54, 0.61);
}

.panel-danger > .panel-heading {
    color: #fff;
    background-color: rgba(244, 67, 54, 0.61);
    border-color: rgba(244, 67, 54, 0.61);
}

.panel-danger > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: rgba(244, 67, 54, 0.61);
}

.panel-danger > .panel-heading .badge {
    color: rgba(244, 67, 54, 0.61);
    background-color: #fff;
}

.panel-danger > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: rgba(244, 67, 54, 0.61);
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}


.page-header .breadcrumb-line {
    background-color: #ddd !important;
}

.text-black-300 {

}

.cancelmodal {
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
}