<div id="<%= scope %>" ng-controller="<%= scope %> as <%= scope %>">
    <div class="panel panel-flat">
        <div class="subcontent">
            <center><img style="width: 600px;height: 600px;"
                     src="files/configuration/logo/logo.webp"></center>
            <center><h1 style="margin-top: -140px;">Cátalogo de Bienes y Servicios</h1></center>
            <center><h2>Sistema de consulta</h2></center>
        </div>
    </div>
</div><!--end-->